* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgba(0,0,0,0.5);
}

.content h1,
.content p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  margin-top: 20px;
}

a i {
  font-size: 50px;
  color: #5C95FF;
}

.red{
    color: #D33F49;
    /* background-color: #D33F49; */
}

.black{
    color: #262730;
    background-color: #262730;
}
